.ipynb_checkpoints/
datasets/.ipynb_checkpoints/
datasets/coco/
datasets/yolo/

models/small_640_int8_vino/
models/small_640_vino/
models/tiny_1280_int8_vino/
models/tiny_1280_openvino_model/

models/small_640.onnx
models/tiny_1280.onnx
models/small_640.pt
models/tiny_1280.pt

pred/blind_test_small_640.mp4
pred/blind_test_tiny_1280.mp4
pred/.ipynb_checkpoints/

runs/detect/

trial_chute.zip
.gitignore